@model IEnumerable<SAMCWebNetCore.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PetID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AppointmentDesc)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AppointmentDesc)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
